<p>Trivial</p>
<p>Delete me! This file contains a list of all the help files available for the module. Don't
   forget to add each individual help file to the html list below. Delete me!</p>
<ul>
  <li><a href="help.php?module=Gymkana&amp;file=mods.html">GymkanaS General Info</a></li>
</ul>
