<h1>INFORMACI&Oacute;N</h1>

<p>&Eacute;sta es una informaci&oacute;n adicional del alumno.</p>

<p>Gyncana 1. Empieza el juego.</p>

<p>Puedes comenzar a jugar pulsando en "comenzar juego" 
o bien, ver tus resultados a traves de gr&aacute;ficos y estad&iacute;sticas.</p>
