<p><img alt="" src="<?php echo $CFG->wwwroot?>/mod/Gymkana/icon.gif" />&nbsp;<b>Gymkana</b></p>
<div class="indent">
<p>This file contains the main description of the Gymkana module. Usually, it's used to
explain the main features of the activity, with a natural language. Also, the overall
process of the activity is detailed here with its pedagogical foundation.</p>

<p>From a developer perspective, this "help" directory will contain simple html files
like this that you will be able to link from Gymkana code when any sort of
explanation is necessary (it's easier to add those links automatically, both from
the formslib stuff (see mod_form.php) and from everywhere else (see the helpbutton() 
function).</p>

<p>Also, don't forget to add one link to this help file from the Gymkana/help "index.html"
file, it will allow Moodle to show all the existing help files related to the module when the
complete list of available help files is requested.</p>

<p>Please, replace me with the real information about the Gymkana!</p>
</div>
